@font-face {
    font-family: 'me_quranR3HOQ';
    src: url(fonts/me_quranR3HOQ.ttf) format('truetype');
}

@font-face {
    font-family: 'KFGQPC Uthmanic Script HAFS';
    font-style: normal;
    font-weight: 400;

    src: local('KFGQPC Uthmanic Script HAFS'),
    url(fonts/uthmanichafs1-ver09.otf) format('opentype');

    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}

@font-face {
    font-family: 'UthmanTN1_Ver06';
    font-style: normal;
    font-weight: 400;

    src: local('UthmanTN1_Ver06'),
    url(fonts/UthmanTN1_Ver06.otf) format('opentype')
;

    unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}

@font-face {
    font-family: QuranTaha;
    font-weight: normal;
    src: url('arfo/QuranTaha.ttf') format('truetype');
}

@font-face {
    font-family: QuranTahaOld;
    font-weight: normal;
    src: url('arfo/QuranTaha-old.ttf') format('truetype');
}

@font-face {
    font-family: AmiriQuranColored;
    font-weight: normal;
    src: url('arfo/AmiriQuranColored.ttf') format('truetype');
}

@font-face {
    font-family: GE_Dinar_One_Medium;
    font-weight: normal;
    src: url('arfo/GE_Dinar_One_Medium.otf') format('opentype');
}

@font-face {
    font-family: kfc_naskh;
    font-weight: normal;
    src: url('arfo/kfc_naskh-webfont.ttf') format('truetype');
}

@font-face {
    font-family: noorehuda;
    font-weight: normal;
    src: url('arfo/NooreHuda.ttf') format('truetype');
}

@font-face {
    font-family: pdms_saleem;
    font-weight: normal;
    src: url('arfo/pdms_saleem-webfont.ttf') format('truetype');
}

@font-face {
    font-family: scheherazade;
    font-weight: normal;
    src: url('arfo/scheherazade-webfont.ttf') format('truetype');
}

@font-face {
    font-family: "Zekr Quran";
    src: local("Zekr Quran"),
    url("fonts/ZekrQuran.eot");
    src: url("fonts/ZekrQuran.eot?#iefix") format("embedded-opentype"),
    url("fonts/ZekrQuran/ZekrQuran.woff2") format("woff2"),
    url("fonts/ZekrQuran.woff") format("woff"),
    url("fonts/ZekrQuran.ttf") format("truetype"),
    url("fonts/ZekrQuran.svg#Zekr Quran") format("svg");
}

@font-face {
    font-family: muhammadi;
    font-weight: normal;
    src: url('arfo/muhammadi.ttf') format('truetype');
}


@font-face {
    font-family: Mehr;
    font-weight: normal;
    src: url('arfo/Mehr.ttf') format('truetype');
}


@font-face {
    font-family: AlQalam;
    font-weight: normal;
    src: url('arfo/AlQalam.ttf') format('truetype');
}


@font-face {
    font-family: NooreHira;
    font-weight: normal;
    src: url('arfo/NooreHira.ttf') format('truetype');
}

@font-face {
    font-family: HafsNastaleeq Ver10;
    font-weight: normal;
    src: url('arfo/HafsNastaleeq Ver10.otf') format('truetype');
}

@font-face {
    font-family: KFGQPC Dot;
    src: url('arfo/KFGQPC Dot Font.otf')
}

@font-face {
    font-family: Outlined v001;
    src: url('arfo/Outlined v001.otf')
}

@font-face {
    font-family: UthmanTN1 Ver10;
    src: url("fonts/UthmanTN1 Ver10.otf");
}

@font-face {
    font-family: "Al Qalam Quran 2";
    src: url("fonts/alQalam2/Al_Qalam_Quran_2.eot?") format("eot"),
    url("fonts/Al_Qalam_Quran_2.woff") format("woff"),
    url("fonts/Al_Qalam_Quran_2.ttf") format("truetype"),
    url("fonts/Al_Qalam_Quran_2.svg#AlQalamQuran2") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face{
    font-family: 'KFGQPC Uthmanic Script HAFS Regular';
    src: url("fonts/KFGQPC Uthmanic Script HAFS Regular.otf");
}



@font-face {
    font-family: 'zarreen-bold-1';
    
    src: url('arfo/Zarreen-Bold.woff2') format('woff2');
font-weight: normal;
}

@font-face {
    font-family: 'Zarreen';
    
    src: url('arfo/Zarreen.woff') format('woff');
font-weight: normal;
}

@font-face {
    font-family: 'transfonter.org-2020';
    
    src: url('arfo/Zarreen.woff2') format('woff2');
font-weight: normal;
}

@font-face {
    font-family: 'alqalam-shakir-regul';
    
    src: url('arfo/AlQalamShakir.woff2') format('woff2');
font-weight: normal;
}

@font-face {
    font-family: 'alqalam-fawad-light-';
    
    src: url('arfo/AlQalamFawadLight.woff2') format('woff2');
font-weight: normal;
}

@font-face {
    font-family: 'alqalam-fawad-bold-r';
    
    src: url('arfo/AlQalamFawadBold.woff2') format('woff2');
font-weight: normal;
}

@font-face {
    font-family: 'alqalam-fakhar-navee';
    
    src: url('arfo/AlQalamFakharNaveed.woff2') format('woff2');
font-weight: normal;
}

@font-face {
    font-family: 'alfars-5-arabic-regu';
    
    src: url('arfo/AlFars5Arabic.woff2') format('woff2');
font-weight: normal;
}

@font-face {
    font-family: 'aleem-urdu-unicode-r';
    
    src: url('arfo/AleemUrduUnicode.woff2') format('woff2');
font-weight: normal;
}

@font-face {
    font-family: 'adobe-arabic-regular';
    
    src: url('arfo/AdobeArabic-Regular.woff2') format('woff2');
font-weight: normal;
}

@font-face {
    font-family: 'adobe-arabic-bold-1';
    
    src: url('arfo/AdobeArabic-Bold.woff2') format('woff2');
font-weight: normal;
}

@font-face {
    font-family: 'Mehr';
    
    src: url('arfo/Mehr-Nastaliq.ttf') format('truetype'),
url('arfo/MehrNastaliqWeb.svg#MehrNastaliqWeb.svg') format('svg');
font-weight: normal;
}

@font-face {
    font-family: 'Amiri_Quran_color';
    
    src: url('arfo/AmiriQuranColored.woff') format('woff'),
url('arfo/AmiriQuranColored.woff2') format('woff2'),
url('arfo/AmiriQuranColored.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Amiri_Quran';
    
    src: url('arfo/AmiriQuran.woff') format('woff'),
url('arfo/AmiriQuran.woff2') format('woff2'),
url('arfo/AmiriQuran.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Amiri';
    
    src: url('arfo/Amiri-Regular.woff') format('woff'),
url('arfo/Amiri-Regular.woff2') format('woff2'),
url('arfo/Amiri-Regular.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Amiri';
    
    src: url('arfo/Amiri-Bold.woff') format('woff'),
url('arfo/Amiri-Bold.woff2') format('woff2'),
url('arfo/Amiri-Bold.ttf') format('truetype');
font-weight: 700;
}

@font-face {
    font-family: 'Noor_e_Quran';
    
    src: url('arfo/Noor_e_Quran.woff') format('woff'),
url('arfo/Noor_e_Quran.otf') format('opentype'),
url('arfo/Noor_e_Quran.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'noor-e-hidayat';
    
    src: url('arfo/noorehidayat.woff') format('woff'),
url('arfo/noorehidayat.otf') format('opentype'),
url('arfo/noorehidayat.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Nafees_nastaleeq';
    
    src: url('arfo/Nafees-Nastaleeq.woff') format('woff'),
url('arfo/Nafees-Nastaleeq.otf') format('opentype'),
url('arfo/Nafees-Nastaleeq.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Nafees_pak-web-naskh';
    
    src: url('arfo/nafees-pakistani-web-naskh.woff') format('woff'),
url('arfo/nafees-pakistani-web-naskh.otf') format('opentype'),
url('arfo/nafees-pakistani-web-naskh.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Nafees-web-naskh';
    
    src: url('arfo/nafees-web-naskh.woff') format('woff'),
url('arfo/nafees-web-naskh.otf') format('opentype'),
url('arfo/nafees-web-naskh.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Nafees_Riqa';
    
    src: url('arfo/nafees-riqa.woff') format('woff'),
url('arfo/nafees-riqa.otf') format('opentype'),
url('arfo/nafees-riqa.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Rouqa';
    
    src: url('arfo/Rouqa-Unicode.woff') format('woff'),
url('arfo/Rouqa-Unicode.otf') format('opentype'),
url('arfo/Rouqa-Unicode.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Kumail';
    
    src: url('arfo/kumail.woff') format('woff'),
url('arfo/kumail.otf') format('opentype'),
url('arfo/kumail.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Lateef';
    
    src: url('arfo/lateef.woff') format('woff'),
url('arfo/lateef.otf') format('opentype'),
url('arfo/lateef.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Telenor';
    
    src: url('arfo/AlQalam-Telenor.woff') format('woff'),
url('arfo/AlQalam-Telenor.otf') format('opentype'),
url('arfo/AlQalam-Telenor.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'unwan';
    
    src: url('arfo/unwan.woff') format('woff'),
url('arfo/unwan.otf') format('opentype'),
url('arfo/unwan.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Qadri_Najd';
    
    src: url('arfo/Qadri-Najd.woff') format('woff'),
url('arfo/Qadri-Najd.otf') format('opentype'),
url('arfo/Qadri-Najd.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Jameel';
    
    src: url('arfo/jameel.woff') format('woff'),
url('arfo/jameel.otf') format('opentype'),
url('arfo/jameel.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'bombay_black';
    
    src: url('arfo/Bombay-Black.woff') format('woff'),
url('arfo/Bombay-Black.otf') format('opentype'),
url('arfo/Bombay-Black.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Aslam';
    
    src: url('arfo/Aslam.woff') format('woff'),
url('arfo/Aslam.otf') format('opentype');
font-weight: normal;
}

@font-face {
    font-family: 'Aseer';
    
    src: url('arfo/Aseer.woff') format('woff'),
url('arfo/Aseer.otf') format('opentype');
font-weight: normal;
}

@font-face {
    font-family: 'Asad';
    
    src: url('arfo/Asad.woff') format('woff'),
url('arfo/Asad.otf') format('opentype');
font-weight: normal;
}

@font-face {
    font-family: 'Arif';
    
    src: url('arfo/Arif.woff') format('woff'),
url('arfo/Arif.otf') format('opentype');
font-weight: normal;
}

@font-face {
    font-family: 'Anwar';
    
    src: url('arfo/Anwar.woff') format('woff'),
url('arfo/Anwar.otf') format('opentype');
font-weight: normal;
}

@font-face {
    font-family: 'alkatib';
    
    src: url('arfo/alkatib.woff') format('woff'),
url('arfo/alkatib.otf') format('opentype'),
url('arfo/alkatib.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'Jameel_Nastaleeq';
    
    src: url('arfo/JameelNooriNastaleeq3.woff') format('woff'),
url('arfo/JameelNooriNastaleeq3.otf') format('opentype');
font-weight: normal;
}

@font-face {
    font-family: 'urdu_emad_nast';
    src: url('arfo/urduemadnastaleeqregular1.eot');
    src: url('arfo/urduemadnastaleeqregular1.woff') format('woff'),
url('arfo/urduemadnastaleeqregular1.ttf') format('truetype'),
url('arfo/urduemadnastaleeqregular1.eot?#iefix') format('embedded-opentype');
font-weight: normal;
}

@font-face {
    font-family: 'Quran_Publisher';
    
    src: url('arfo/AlQalamQuranPublisher.woff') format('woff'),
url('arfo/AlQalamQuranPublisher.otf') format('opentype');
font-weight: normal;
}

@font-face {
    font-family: 'arabic_Scheherazade';
    
    src: url('arfo/Scheherazade-Regular.woff') format('woff'),
url('arfo/Scheherazade-Regular.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'arabic_Scheherazade';
    
    src: url('arfo/Scheherazade-Bold.woff') format('woff'),
url('arfo/Scheherazade-Bold.ttf') format('truetype');
font-weight: 700;
}

@font-face {
    font-family: 'quranic_saleem';
    
    src: url('arfo/PDMS_Saleem_QuranFont.woff') format('woff'),
url('arfo/PDMS_Saleem_QuranFont.otf') format('opentype'),
url('arfo/PDMS_Saleem_QuranFont.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'quranic_mushaf';
    
    src: url('arfo/2Al_mushaf.woff') format('woff'),
url('arfo/2Al_mushaf.otf') format('opentype'),
url('arfo/2Al_mushaf.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'quranic_muhammadi';
    
    src: url('arfo/1-MUHAMMADI-QURANIC-2.01.woff') format('woff'),
url('arfo/1-MUHAMMADI-QURANIC-2.01.otf') format('opentype'),
url('arfo/1-MUHAMMADI-QURANIC-2.01.ttf') format('truetype');
font-weight: normal;
}

@font-face {
    font-family: 'attari_nuskh';
    
    src: url('arfo/attari_naskh-webfont.ttf') format('truetype'),
url('arfo/attari_naskh-webfont.woff') format('woff'),
url('arfo/attari_naskh-webfont.woff2') format('woff2'),
url('arfo/attari_naskh-webfont.svg#attari_naskh-webfont.svg') format('svg');
font-weight: normal;
}

@font-face {
    font-family: 'nafees_web_nuskh';
    
    src: url('arfo/nafees_pakistani_web_naskh_btk-webfont.ttf') format('truetype'),
url('arfo/nafees_pakistani_web_naskh_btk-webfont.woff') format('woff'),
url('arfo/nafees_pakistani_web_naskh_btk-webfont.woff2') format('woff2'),
url('arfo/nafees_pakistani_web_naskh_btk-webfont.svg#nafees_pakistani_web_naskh_btk-webfont.svg') format('svg');
font-weight: normal;
}

@font-face {
    font-family: 'KFGQPC';
    
    src: url('arfo/uthmantn1_ver10-webfont.woff') format('woff'),
url('arfo/uthmantn1_ver10-webfont.woff2') format('woff2'),
url('arfo/uthmantn1_ver10-webfont.ttf') format('truetype'),
url('arfo/uthmantn1_ver10-webfont.svg#uthmantn1_ver10-webfont.svg') format('svg');
font-weight: normal;
}

@font-face {
    font-family: 'KFGQPC';
    
    src: url('arfo/uthmantn1b_ver10-webfont.woff') format('woff'),
url('arfo/uthmantn1b_ver10-webfont.woff2') format('woff2'),
url('arfo/uthmantn1b_ver10-webfont.ttf') format('truetype'),
url('arfo/uthmantn1b_ver10-webfont.svg#uthmantn1b_ver10-webfont.svg') format('svg');
font-weight: 700;
}

@font-face {
    font-family: 'me_quran';
    
    src: url('arfo/me_quran-webfont.woff') format('woff'),
url('arfo/me_quran-webfont.woff2') format('woff2'),
url('arfo/me_quran-webfont.ttf') format('truetype'),
url('arfo/me_quran-webfont.svg#me_quran-webfont.svg') format('svg');
font-weight: normal;
}

@font-face {
    font-family: 'aqashraf';
    
    src: url('arfo/alqalam_ashraf_font-webfont.ttf') format('truetype'),
url('arfo/alqalam_ashraf_font-webfont.woff') format('woff'),
url('arfo/alqalam_ashraf_font-webfont.woff2') format('woff2'),
url('arfo/alqalam_ashraf_font-webfont.svg#alqalam_ashraf_font-webfont.svg') format('svg');
font-weight: normal;
}

@font-face {
    font-family: 'jishtiaq';
    
    src: url('arfo/alqalam_jaan-e-ishtiaq-webfont.ttf') format('truetype'),
url('arfo/alqalam_jaan-e-ishtiaq-webfont.woff') format('woff'),
url('arfo/alqalam_jaan-e-ishtiaq-webfont.woff2') format('woff2'),
url('arfo/alqalam_jaan-e-ishtiaq-webfont.svg#alqalam_jaan-e-ishtiaq-webfont.svg') format('svg');
font-weight: normal;
}

@font-face {
    font-family: 'alinastaliq';
    
    src: url('arfo/ali_nastaliq_web_version-webfont.ttf') format('truetype'),
url('arfo/ali_nastaliq_web_version-webfont.woff') format('woff'),
url('arfo/ali_nastaliq_web_version-webfont.woff2') format('woff2'),
url('arfo/ali_nastaliq_web_version-webfont.svg#ali_nastaliq_web_version-webfont.svg') format('svg');
font-weight: normal;
}

@font-face {
    font-family: 'aasameer';
    
    src: url('arfo/aa-sameer-sagar-nastaleeq-bold-regular-1-webfont.ttf') format('truetype'),
url('arfo/aa-sameer-sagar-nastaleeq-bold-regular-1-webfont.woff') format('woff'),
url('arfo/aa-sameer-sagar-nastaleeq-bold-regular-1-webfont.woff2') format('woff2'),
url('arfo/aa-sameer-sagar-nastaleeq-bold-regular-1-webfont.svg#aa-sameer-sagar-nastaleeq-bold-regular-1-webfont.svg') format('svg');
font-weight: normal;
}

@font-face {
    font-family: 'ishtiaq';
    
    src: url('arfo/alqalam_ishtiaq-webfont.ttf') format('truetype'),
url('arfo/alqalam_ishtiaq-webfont.woff') format('woff'),
url('arfo/alqalam_ishtiaq-webfont.woff2') format('woff2'),
url('arfo/alqalam_ishtiaq-webfont.svg#alqalam_ishtiaq-webfont.svg') format('svg');
font-weight: normal;
}

@font-face {
    font-family: 'amarnastaleeq';
    
    src: url('arfo/amarnastaleeq-webfont-webfont.ttf') format('truetype'),
url('arfo/amarnastaleeq-webfont-webfont.woff') format('woff'),
url('arfo/amarnastaleeq-webfont-webfont.woff2') format('woff2'),
url('arfo/amarnastaleeq-webfont-webfont.svg#amarnastaleeq-webfont-webfont.svg') format('svg');
font-weight: normal;
}

.font-amiri {
    font-family: Amiri;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

h1 a {
    color: #7575d0;
}

#app {
    max-width: 1000px;
    margin: 0 auto;
}

textarea {
    font-size: 20px;
    line-height: 2;
    font-family: 'KFGQPC Uthmanic Script HAFS';
}

.fonts-examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fonts-example {
    margin: 5px 5px 30px 5px;
    padding: 5px;
    border: 1px solid #ccc;
    flex: 1 1 0;
    direction: rtl;
}

.fonts-example--title {
    flex: 0 0 100px;
}

.fonts-example--example {
    line-height: 2;
    white-space: nowrap;
}

#qalqala, .qalqala {
    color: #0000CC;
}

#ra2, .ra2 {
    color: #000066;
}

#lazem, .lazem {
    color: #990000;
}

#monfsel, .monfsel {
    color: #9900CC;
}

#motsel, .motsel {
    color: #FF0000;
}

#3ared, .ared {
    color: #FF6600;
}

#sela, .sela {
    color: #996600;
}

#e5fa2, .e5fa2 {
    color: #009933;
}

#edgham, .edgham {
    color: #999999;
}
